<div class="operational">
    <h3>Revenue breakdown by segments <span>k₼ | yearly</span></h3>
   <div class="pie">
    <div class="inflow-pie">
            <div class="charts">
                    <span>322,965</span>
                    <canvas baseChart class="chart"
                    [data]="doughnutChartData"
                    [options]="doughnutChartOptions"
                    [plugins]="doughnutChartPlugins"
                    [legend]="barChartLegend"
                    [type]="doughnutChartType">
            </canvas>
            </div>
           <div class="legends">
            <ng-container *ngFor="let item of firstPieChart.data">
                    <div class="legend">
                            <div class="legend-box" ngClass={{item.color}}></div>
                            <span>{{item.label}}</span>
                    </div>
            </ng-container>
        </div>
        <p class="pieChartName">{{firstPieChart.name}}</p>
    </div>
    <div class="outflow-pie">
            <div class="charts">
                    <span>3,543</span>
                    <canvas baseChart class="chart"
                    [data]="doughnutChartData2"
                    [options]="doughnutChartOptions"
                    [plugins]="doughnutChartPlugins"
                    [legend]="barChartLegend"
                    [type]="doughnutChartType">
                    </canvas>
            </div>
    <div class="legends">
            <ng-container *ngFor="let item of secondPieChart.data">
                    <div class="legend">
                            <div class="legend-box" ngClass={{item.color}}></div>
                            <span>{{item.label}}</span>
                    </div>
            </ng-container>
        </div>
        <p class="pieChartName">{{secondPieChart.name}}</p>
    </div>
    <div class="outflow-pie">
        <div class="charts">
                <span>23,947</span>
                <canvas baseChart class="chart"
                [data]="doughnutChartData3"
                [options]="doughnutChartOptions"
                [plugins]="doughnutChartPlugins"
                [legend]="barChartLegend"
                [type]="doughnutChartType">
                </canvas>
        </div>
        <div class="legends">
                <ng-container *ngFor="let item of thirdPieChart.data">
                        <div class="legend">
                                <div class="legend-box" ngClass={{item.color}}></div>
                                <span>{{item.label}}</span>
                        </div>
                </ng-container>
            </div>
            <p class="pieChartName">{{thirdPieChart.name}}</p>
        </div>
   </div>
</div>