.operational{
    width: 100%;
    margin-top: 1rem;
    padding: 0 1rem 1.2rem 1rem;
    background-color: #FFF;
    box-shadow: 0.3rem 1rem 2.1rem -1.8rem rgba(0,0,0,0.75);
    h3{
        padding: 0.5rem;
        display: inline-block;
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
        span{
            color: #CCC;
        }
    }
    .pie{
        display: flex;
        justify-content: space-evenly;
        .inflow-pie,
        .outflow-pie{
            max-width: 17rem;
            width: 30%;
            margin-right: 1rem;
        }
        @media (max-width: 1400px) {
            .inflow-pie,
            .outflow-pie{
                max-width: 10rem;
                width: 40%;
                margin-right: 0;
            }
        }
        @media (max-width: 1200px) {
            .inflow-pie,
            .outflow-pie{
                max-width: 10rem;
                width: 100%;
                margin-right: 0;
            }
        }
    }
    .pieChartName{
        display: flex;
        justify-content: center;
        text-align: center;
        background-color: #eff4fc;
        padding: 0.2rem 0.5rem;
        margin-top: 1rem;
    }
    .legends{
        gap: 0.1rem;
        max-height: 7.5rem;
        height: 100%;
    }
}