.chart-box{
    max-width: 40rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0.3rem 1rem 2.1rem -1.8rem rgba(0,0,0,0.75);
    background-color: #FFF;
    height: 22.5rem;
    .chart{
        padding-top: 3rem;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 500;
        padding-top: 0.5rem;
        margin-bottom: 0;
        span{
            color: #CCC;
        }
    }
}
@media (max-width: 1400px){
    .chart-box{
        height: max-content;
    }
}