<div class="main">
    <div class="legend">
        <div class="left">
            <ul>
                <li>Operational</li>
                <li>KPI</li>
                <li>Financial</li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper">
                <button>Yearly</button>
                <button>Quarterly</button>
                <button class="active">Monthly</button>
            </div>
            <div class="date-option">
                <select>
                    <option >September 2022</option>
                    <option >October 2022</option>
                    <option >November 2022</option>
                </select>
            </div>
        </div>
    </div>
    <app-trade></app-trade>
    <div class="flex">
        <app-operational></app-operational>
        <div>
            <app-creditor></app-creditor>
            <app-remaining-debt></app-remaining-debt>
        </div>
        <div class="flex-1">
            <app-rolling-stock></app-rolling-stock>
            <app-revenue-breakdown></app-revenue-breakdown>    
        </div>
    </div>
</div>