<div class="main">
    <div class="legend">
        <div class="left">
            <ul>
                <li>Operational</li>
                <li>KPI</li>
                <li>Financial</li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper">
                <button>Yearly</button>
                <button>Quarterly</button>
                <button class="active">Monthly</button>
            </div>
            <div class="date-option">
                <select>
                    <option >September 2022</option>
                    <option >October 2022</option>
                    <option >November 2022</option>
                </select>
            </div>
        </div>
    </div>
    <app-trade></app-trade>
    <app-operational></app-operational>
    <app-creditor></app-creditor>
    <app-rolling-stock></app-rolling-stock>
    <app-remaining-debt></app-remaining-debt>
    <app-revenue-breakdown></app-revenue-breakdown>
</div>