.outflow-pie{
    max-width: 20rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .charts{
        width: 70%;

    }
    .legends{
        .legend{
            white-space: nowrap;
        }
    }
    h3{
        padding: 0.5rem 1rem;
        margin-bottom: 0;
        display: inline-block;
        text-align: left;
        font-weight: 500;
        font-size: 1.5rem;
        span{
            color: #CCC;
        }
}
}