.remaining-pie{
    max-width: 40rem;
    margin-top: 1rem;
    background-color: #FFF;
    box-shadow: 0.3rem 1rem 2.1rem -1.8rem rgba(0,0,0,0.75);
    .wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 1rem;
        .charts{
            max-width: 22rem;
            width: 100%;
            position: relative;
            span{
                font-weight: 600;
                font-size: 75%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        @media (max-width: 1200px) {
            .charts{
                max-width: none;
                width: 65%;
            }
        }
        .legends{
            padding-top: 0;
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            .legend{
                span{
                    white-space: normal;
                }
            }
        }
    }
    h3{
        padding: 1rem 1rem 0 1rem;
        font-weight: 500;
        text-align: left;
        margin-bottom: 0;
        span{
            color: #CCC;
        }
    }
}