<!-- <div class="remaining-pie">
        <h3>Remaining debt <span>k₼ | yearly</span></h3>
<div class="wrapper">
        <div class="charts">
                <span>1,345,455</span>
                <canvas baseChart class="chart"
                [data]="doughnutChartData"
                [options]="doughnutChartOptions"
                [plugins]="doughnutChartPlugins"
                [type]="doughnutChartType">
        </canvas>
        </div>
       <div class="legends">
        <div>
                <ng-container *ngFor="let item of firstPieChartLegend">
                        <div class="legend">
                            <div class="legend-box" ngClass={{item.backgroundColor}}></div>
                            <span>{{item.legend}}</span>
                        </div>
                </ng-container>
        </div>
        <div>
                <ng-container *ngFor="let item of secondPieChartLegend">
                        <div class="legend">
                            <div class="legend-box" ngClass={{item.backgroundColor}}></div>
                            <span>{{item.legend}}</span>
                        </div>
                </ng-container>
        </div>
       </div>
</div>
</div> -->