<div class="main">
    <div class="legend">
        <div class="left">
            <ul>
                <li (click)="addQuery('operational')">Operational</li>
                <li (click)="addQuery('kpi')">KPI</li>
                <li (click)="addQuery('financial')">Financial</li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper">
                <button (click)="active = 1" [class.active]="active == 1">Yearly</button>
                <button (click)="active = 2" [class.active]="active == 2">Quarterly</button>
                <button (click)="active = 3" [class.active]="active == 3">Monthly</button>
            </div>
            <div class="date-option">
                <select>
                    <option class="option">September 2022</option>
                    <option class="option">October 2022</option>
                    <option class="option">November 2022</option>
                </select>
            </div>
        </div>
    </div>
    <app-trade></app-trade>
    <div class="flex">
        <div class="operational">
            <app-operational></app-operational>
        </div>
        <div class="flex">
            <div class="creditor-and-rolling">
                <app-creditor class="creditor"></app-creditor>
                <app-rolling-stock class="rolling"></app-rolling-stock>
            </div>
            <div class="remaining-revenue">
                <app-remaining-debt class="remaining"></app-remaining-debt>
                <app-revenue-breakdown class="revenue"></app-revenue-breakdown>    
            </div>
        </div>
    </div>
</div>