<div class="main">
    <div class="legend">
        <div class="left">
            <ul>
                <li>Operational</li>
                <li>KPI</li>
                <li>Financial</li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper">
                <button (click)="active = 1" [class.active]="active == 1">Yearly</button>
                <button (click)="active = 2" [class.active]="active == 2">Quarterly</button>
                <button (click)="active = 3" [class.active]="active == 3">Monthly</button>
            </div>
            <div class="date-option">
                <select>
                    <option class="option">September 2022</option>
                    <option class="option">October 2022</option>
                    <option class="option">November 2022</option>
                </select>
            </div>
        </div>
    </div>
    <app-trade></app-trade>
    <div class="flex">
        <div class="operational">
            <app-operational></app-operational>
        </div>
            <div class="flex-0">
                <div class="creditor"><app-creditor></app-creditor></div>
                <div class="remaining"><app-remaining-debt></app-remaining-debt></div>
            </div>
            <div class="flex-1">
                <app-rolling-stock></app-rolling-stock>
                <app-revenue-breakdown></app-revenue-breakdown>    
            </div>
    </div>
</div>