<div class="main">
    <div class="legend">
        <div class="left">
            <ul>
                <li [class.active]="activeOption == 'operational'" (click)="addQuery('operational')">Operational</li>
                <li [class.active]="activeOption == 'kpi'" (click)="addQuery('kpi')">KPI</li>
                <li [class.active]="activeOption == 'financial'" (click)="addQuery('financial')">Financial</li>
            </ul>
        </div>
        <div class="right">
            <div class="button-wrapper">
                <button (click)="addTime('yearly')" [class.active]="activeTime == 'yearly'">Yearly</button>
                <button (click)="addTime('quarterly')" [class.active]="activeTime == 'quarterly'">Quarterly</button>
                <button (click)="addTime('monthly')" [class.active]="activeTime == 'monthly'">Monthly</button>
            </div>
            <div class="date-option">
                <select #selectValue [value]="activeMonth" (click)="addMonth(selectValue.value)">
                    <option value="september" class="option">September 2022</option>
                    <option value="october" class="option">October 2022</option>
                    <option value="november" class="option">November 2022</option>
                </select>
            </div>
        </div>
    </div>
    <app-trade></app-trade>
    <div class="flex">
        <div class="operational">
            <app-operational></app-operational>
        </div>
        <div class="flex">
            <div class="creditor-and-rolling">
                <app-creditor class="creditor"></app-creditor>
                <app-rolling-stock class="rolling"></app-rolling-stock>
            </div>
            <div class="remaining-revenue">
                <app-remaining-debt class="remaining"></app-remaining-debt>
                <app-revenue-breakdown class="revenue"></app-revenue-breakdown>    
            </div>
        </div>
    </div>
</div>