<div class="header">
    <div class="header-top">
        <div class="top-left">
            <img src="../../../assets/img/logo.svg" alt="">
            <span>General Information System</span>
        </div>
        <div class="top-right">
            <span>AZ </span>
            <div class="account"></div>
        </div>
    </div>
    <div class="header-bottom">
        <ul>
            <li class="active">Dashboard <mat-icon>keyboard_arrow_down</mat-icon></li>
            <li>Supervisory board <mat-icon>keyboard_arrow_down</mat-icon></li>
            <li>Statements <mat-icon>keyboard_arrow_down</mat-icon></li>
            <li>Diagnostics</li>
            <li>Action plan</li>
        </ul>
    </div>
</div>
