<div class="trade">
    <table>
        <thead>
             <tr>
                <th *ngFor="let itemName of wrapper">
                    {{itemName.title}}
                </th>
            </tr>
         </thead>
        <tbody>
            <tr *ngIf="wrapper.length != 0">
                <td *ngFor="let item of wrapper">
                    <span>{{ item.children[0].value[0] | number }} k</span>
                    <mat-icon class="trade-up" *ngIf="item.children[0].value[1] > 0">arrow_drop_up</mat-icon>
                    <mat-icon class="trade-down" *ngIf="item.children[0].value[1] < 0">arrow_drop_down</mat-icon>
                    <span>%{{ item.children[0].value[1] | number }}</span> | 
                    <span>{{ item.children[1].value[0] | number }} k</span>
                    <mat-icon class="trade-up" *ngIf="item.children[1].value[1] > 0">arrow_drop_up</mat-icon>
                    <mat-icon class="trade-down" *ngIf="item.children[1].value[1] < 0">arrow_drop_down</mat-icon>
                    <span>%{{ item.children[1].value[1] | number }}</span>
                </td>
            </tr>
        </tbody>
     </table>
    <table class="employees">
        <thead>
             <tr>
                <th *ngFor="let itemName of lastItemOfWrapper">
                    {{itemName.title}}
                </th>  
             </tr>
         </thead>
        <tbody>
            <tr *ngIf="wrapper.length != 0">
                <td *ngFor="let item of lastItemOfWrapper">
                    <span>{{ item.children[0].value[0] | number }} k</span>
                    <mat-icon class="trade-up" *ngIf="item.children[0].value[1] > 0">arrow_drop_up</mat-icon>
                    <mat-icon class="trade-down" *ngIf="item.children[0].value[1] < 0">arrow_drop_down</mat-icon>
                    <span>%{{ item.children[0].value[1] | number }}</span> | 
                    <span>{{ item.children[1].value[0] | number }} k</span>
                    <mat-icon class="trade-up" *ngIf="item.children[1].value[1] > 0">arrow_drop_up</mat-icon>
                    <mat-icon class="trade-down" *ngIf="item.children[1].value[1] < 0">arrow_drop_down</mat-icon>
                    <span>%{{ item.children[1].value[1] | number }}</span>
                </td>
            </tr>
        </tbody>
     </table>
</div>
