<div class="header">
    <div class="header-top">
        <div class="top-left">
            <img src="../../../assets/img/logo.svg" alt="">
            <span>General Information System</span>
        </div>
        <div class="top-right">
            <span>AZ </span>
            <div class="account"></div>
        </div>
    </div>
    <div class="header-bottom">
        <ul>
            <li routerLink="dashboard" routerLinkActive="active">Dashboard <mat-icon>keyboard_arrow_down</mat-icon></li>
            <li routerLink="supervisory-board" routerLinkActive="active">Supervisory board <mat-icon>keyboard_arrow_down</mat-icon></li>
            <li routerLink="statements" routerLinkActive="active">Statements <mat-icon>keyboard_arrow_down</mat-icon></li>
            <li routerLink="diagnostics" routerLinkActive="active">Diagnostics</li>
            <li routerLink="action-plan" routerLinkActive="active">Action plan</li>
        </ul>
    </div>
</div>
