<div class="operational">
        <div class="chart-box">
                <h3>Cash movement <span>k₼ | yearly</span></h3>
                <canvas baseChart class="chart"
                [data]="barChartData"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [type]="barChartType">
                </canvas>
        </div>
       <div class="pie">
        <div class="inflow-pie">
                <h3>Operational inflow <span>k₼ | yearly</span></h3>
                <div class="charts">
                        <span>45,456</span>
                        <canvas baseChart class="chart"
                        [data]="doughnutChartData"
                        [options]="doughnutChartOptions"
                        [legend]="barChartLegend"
                        [type]="doughnutChartType">
                </canvas>
                </div>
               <div class="legends">
                <ng-container *ngFor="let item of firstPieChartLabel">
                        <div class="legend">
                                <div class="legend-box" ngClass={{item.backgroundColor}}></div>
                                <span>{{item.legend}}</span>
                        </div>
                </ng-container>
               </div>
        </div>
        <div class="outflow-pie">
                <h3>Operational outflow <span>k₼ | yearly</span></h3>
                <div class="charts">
                        <span>21,529</span>
                        <canvas baseChart class="chart"
                        [data]="doughnutChartData2"
                        [options]="doughnutChartOptions"
                        [legend]="barChartLegend"
                        [type]="doughnutChartType">
                        </canvas>
                </div>
        <div class="legends">
                <ng-container *ngFor="let item of secondPieChartLabel">
                        <div class="legend">
                                <div class="legend-box" ngClass={{item.backgroundColor}}></div>
                                <span>{{item.legend}}</span>
                        </div>
                </ng-container>
               </div>
        </div>
       </div>
</div>