/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #495867;
}
html{
    font-size: 67.5%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul{
    list-style: none;
}
.legends{
    display: grid;
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.9rem;
    gap: 0.5rem;
    .legend{
        display: flex;
        gap: 0.5rem;
        .legend-box{
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
            position: relative;
            &::after{
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                content: "";
                width: 0.6rem;
                height: 0.6rem;
                border-radius: 50%;
                background-color: #FFF;
            }
        }
        .blue{
            background-color: hsl(223.97deg 64.6% 55.69%);
        }
        .gray{
            background-color: #5bb5d1;
        }
        .lightgreen{
            background-color: #839be5;
        }
        .green{
            background-color: hsl(138.86deg 31.82% 56.86%);
        }
        .red{
            background-color: hsl(339.39deg 44.8% 43.33%);
        }
    }
}
.charts{
    position: relative;
        span{
            font-weight: 500;
            font-size: 1rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }