/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500&display=swap');

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), local('SegoeUI'),
      url('./assets/Segoe\ UI.ttf') format('ttf'),
      url('./assets/Segoe\ UI\ Bold.ttf') format('ttf'),
      url('./assets/Segoe\ UI\ Bold\ Italic.ttf') format('ttf'),
      url('./assets/Segoe\ UI\ Italic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
*{
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #495867;
}
html{
    font-size: 67.5%;
}
html, body { height: 100%; }
body { margin: 0; }

ul{
    list-style: none;
}
.legends{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    font-size: 0.9rem;
    gap: 0.8rem;
    .legends{
        padding-top: 0;
    }
    .legend{
        display: flex;
        gap: 0.5rem;
        .legend-box{
            width: 1.4rem;
            height: 1.4rem;
            border-radius: 50%;
        }
    }
}
.charts{
    position: relative;
        span{
            font-weight: 500;
            font-size: 1.2rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
}
h3{
    padding: 0.4rem 0.5rem;
    display: inline-block;
    text-align: left;
    font-weight: 500;
    font-size: 1.5rem;
    span{
        color: #CCC;
    }
}
@media (max-width: 1400px){
    .charts{
            span{
                font-size: 1rem;
            }
        }
}